<!--<div class="card">
<div class="card mb-4 shadow-sm">
    
    <img class="bd-placeholder-img card-img-top p-2" width="100%" [src]="productItem.imageUrl"/>
    
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMid"></svg>
   
    
      <p class="card-title" href="">
          <strong>HP2</strong><br>

        <strong>{{ productItem.price | currency:'INR' }}</strong>
        <i  class="fas fa-heart float-right" ></i>
        <i class="far fa-heart float-right" ></i>
    </p>
     <p class="card-text">{{ productItem | slice: 0:80 }}</p>
     
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
         <p><button type="button" class="btn btn-sm btn-outline-primary product-btn">Add to
            Cart</button></p>
          
        </div>
      </div>
    
  
    -->
    <div class="card">
        <div class="card mb-4 shadow-sm">
          <mat-card class="book-card mat-elevation-z2" [class.on-book-card-hover]="isActive" (mouseover)="isActive=true"
        (mouseout)="isActive=false">
        <mat-card-content class="image-card">
            <a routerLink="/" matTooltip="Hp2" matTooltipClass="example-tooltip"
                aria-label="Book title"><img class="preview-image" mat-card-image [src]="productItem.imageUrl"
                    alt="Book cover image"></a>
           <div  class="favourite mat-elevation-z4">
               <app-addtowishlist ></app-addtowishlist>
            </div>
    
        </mat-card-content>
        <mat-card-content>
            <div class="card-title">
                <a routerLink="/">
                    <strong>{{productItem.name}}</strong>
                </a>
            </div>
            <p>{{ productItem.price| currency : 'INR'}}</p>
            <!--<app-addtocart [bookId]="book.bookId"></app-addtocart>-->
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="addToCart()">
          <span>
            <mat-icon>shopping_cart</mat-icon>
          </span>
          Add to Cart
        </button>
    </mat-card></div></div>